<a href="https://colab.research.google.com/github/Arvindkale123/global-terrorism-exploratorydata-analysis/blob/main/Copy_of_Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [1]:
import numpy as pd
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Global Terrorism.csv', encoding = "ISO-8859-1", engine='python')

In [20]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [21]:
column_to_keep=['iyear','imonth','iday','country','country_txt','region','region_txt','provstate','attacktype1_txt','targtype1_txt','ransomamt','gname','city','nkill']

In [43]:
updated_df=df[column_to_keep].copy()

In [44]:
updated_df.head()

   iyear  imonth  ...           city  nkill
0   1970       7  ...  Santo Domingo    1.0
1   1970       0  ...    Mexico city    0.0
2   1970       1  ...        Unknown    1.0
3   1970       1  ...         Athens    NaN
4   1970       1  ...        Fukouka    NaN

[5 rows x 14 columns]

In [45]:
updated_df.rename(columns = {'iyear':'year','imonth':'month','iday':'day','country_txt':'country_name','region_txt':'region_name','attacktype1_txt':'attack_type','targtype1_txt':'target_type','gname':'gang_name','nkill':'people_killed'}, inplace = True)

In [46]:
updated_df.head()

   year  month  ...           city  people_killed
0  1970      7  ...  Santo Domingo            1.0
1  1970      0  ...    Mexico city            0.0
2  1970      1  ...        Unknown            1.0
3  1970      1  ...         Athens            NaN
4  1970      1  ...        Fukouka            NaN

[5 rows x 14 columns]

## ***italicized text***
TASKS TO DO
1. RENAME THE COLUMN 
2.REMOVING THE NOT NEEDED COLUMN 
3.PLOT CHART BY NUMBER OF CASUALITITES EACH YEAR WISE(1971-2017)
4.NUMBER OF ATTACKS COUNTRY WISE
5.REGION WISE TERRORIST ACTIVITIES
6.COIUNTRY WISE CASUALITIES TILL NOW
7.TOTAL ATTACK BY TYPE OF ATTACK 
8.CITY WISE DEATHS 
9.TERRORIST ACTIVIES BY GROUP LIKE TALIBAN ETC
10.TARGET TYPE GOVT OR PUBLIC ATTACK
11.RANSOM COLLECTED COUNTRY WISE

In [54]:
new_df=updated_df[['year','people_killed']]

In [ ]:
new_df.head(16)

In [64]:
new_df1=new_df.groupby(['year','people_killed']).agg({"people_killed": "sum"})

In [69]:
total_killings_df=new_df.groupby('year')['people_killed'].sum()

In [ ]:
total_killings_df.head(60)